{{!-- {{ blogPost }} --}}

<div class="flex-container card blog-post">
  <div class="card-body">
    <div class="row">
      <div class="col-6 title">
        <h2>{{clickedPost.title}}</h2>
      </div>
      <div class="col-6 name-date">
        <p>{{clickedPost.User.username}} {{clickedPost.dateCreated}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 content">
        <p>{{clickedPost.contents}}</p>
      </div>
    </div>
  </div>
</div>

{{!-- {{/blogPost}} --}}

<div class="card">
  <div class="card-body">
    <form class="comment-section">
      <input type="hidden" name="post-id" value="{{clickedPost.id}}"/>
      <div>
      <label>Comment</label>
       <textarea name="comment-body" id="comment-steeze" ></textarea>
      <button id="comment-btn">Confirm</button>
    </div>
    </form>    
  </div>
</div>

{{#each comment}}

  <div class="card">
    <div class="card-body">
      <div>
        <span>Comments</span>
      </div>
      <div class="prev-comments">
        {{body}}
      </div>
    </div>
  </div>

{{/each}}